<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/public/css/global.css" />
    <link rel="stylesheet" href="/public/css/GiftCustomizer.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hepta Slab:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    />
  </head>
  <body>
    <div class="gift-customizer">
      <img class="img-icon" loading="eager" alt="" src="/public/img/img@2x.png" />
      <form action="/ocassion" method="get">
        <button class="customize2" id="customize">
          <div class="customize-inner"></div>
          <div class="start-customizing">Start Customizing</div>
          <img class="eparrow-up-icon2" alt="" src="/public/img/eparrowup@2x.png" />
        </button>
      </form>
    </div>
  </body>
</html>
