<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/public/css/global.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hepta Slab:wght@400;500&display=swap"
    />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    />
  </head>
  <body>
    <div class="occasion-profile">
      <div class="frame-container">
        <img class="vector-icon" alt="" src="/public/img/vector.svg" />

        <div class="main-frame">
          <div class="main-frame-child"></div>
          <div class="for-who-is">For who is this gift customised?</div>
          <div class="customisation-frame">
            <div class="frame-for-whom">
              <div class="parents-group">
                <div class="girlfriend-frame selection">
                  <img
                    class="girlfriend-frame-child"
                    loading="eager"
                    alt=""
                    src="/public/img/group-1.svg"
                  />

                  <div class="girlfriend">Girlfriend</div>
                </div>
                <div class="frame-for-occasion selection">
                  <img
                    class="frame-for-occasion-child"
                    loading="eager"
                    alt=""
                    src="/public/img/group-12.svg"
                  />

                  <div class="wife">Wife</div>
                </div>
              </div>
              <div class="parents-group1">
                <div class="frame-parent selection">
                  <img
                    class="frame-child"
                    loading="eager"
                    alt=""
                    src="/public/img/group-2.svg"
                  />

                  <div class="parents">Parents</div>
                </div>
                <div class="frame-group selection">
                  <img
                    class="frame-item"
                    loading="eager"
                    alt=""
                    src="/public/img/group-11.svg"
                  />

                  <div class="friends">Friends</div>
                </div>
              </div>
              <div class="parents-group2">
                <div class="frame-div selection">
                  <img
                    class="frame-inner"
                    loading="eager"
                    alt=""
                    src="/public/img/group-3.svg"
                  />

                  <div class="boyfriend">Boyfriend</div>
                </div>
                <div class="frame-parent1 selection">
                  <img
                    class="group-icon"
                    loading="eager"
                    alt=""
                    src="/public/img/group-10.svg"
                  />

                  <div class="husband">Husband</div>
                </div>
              </div>
              <div class="brother-text">
                <div class="frame-with-brother selection">
                  <img
                    class="frame-with-brother-child"
                    loading="eager"
                    alt=""
                    src="/public/img/group-4.svg"
                  />

                  <div class="brother">Brother</div>
                </div>
                <div class="sister-text selection">
                  <div class="frame-with-sister">
                    <img
                      class="vector-icon1"
                      alt=""
                      src="/public/img/vector-1.svg"
                    />

                    <img
                      class="vector-pair-icon"
                      loading="eager"
                      alt=""
                      src="/public/img/vector-2.svg"
                    />

                    <img
                      class="frame-with-sister-child"
                      alt=""
                      src="/public/img/group-9.svg"
                    />
                  </div>
                  <div class="sister">Sister</div>
                </div>
              </div>
              <div class="parents-group3">
                <div class="frame-parent2 selection">
                  <img
                    class="frame-child1"
                    loading="eager"
                    alt=""
                    src="/public/img/group-5.svg"
                  />

                  <div class="mom">Mom</div>
                </div>
                <div class="frame-parent3 selection">
                  <img
                    class="frame-child2"
                    loading="eager"
                    alt=""
                    src="/public/img/group-8.svg"
                  />

                  <div class="dad">Dad</div>
                </div>
              </div>
              <div class="parents-group4">
                <div class="frame-parent4 selection">
                  <img
                    class="frame-child3"
                    loading="eager"
                    alt=""
                    src="/public/img/group-6.svg"
                  />

                  <div class="crush">Crush</div>
                </div>
                <div class="frame-parent5 selection">
                  <img
                    class="frame-child4"
                    loading="eager"
                    alt=""
                    src="/public/img/group-7.svg"
                  />

                  <div class="pet">Pet</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="next-arrow">
        <div class="occasion-frame">
          <div class="parents-siblings">
            <div class="what-text">
              <div class="what-is-the">What is the occasion?</div>
              <div class="frame-occasions">
                <button class="occasion occasion-list">
                  <div class="mothers-day">Mothers Day</div>
                  <div class="occasion-list-child"></div>
                </button>
                <button class="occasion occasion-list1">
                  <div class="fathers-day">Fathers Day</div>
                  <div class="occasion-list-item"></div>
                </button>
                <button class="occasion occasion-list2">
                  <div class="valentines">Valentines</div>
                  <div class="occasion-list-inner"></div>
                </button>
                <button class="occasion occasion-list3">
                  <div class="birthday">Birthday</div>
                  <div class="rectangle-div"></div>
                </button>
                <button class="occasion occasion-list4" style="padding: var(--padding-6xs) 60px var(--padding-7xs) 65px;">
                  <div class="anniversary">Anniversary</div>
                  <div class="occasion-list-child1"></div>
                </button>
                <button class="occasion occasion-list5">
                  <div class="friendship-day">Friendship Day</div>
                  <div class="occasion-list-child2"></div>
                </button>
                <button class="occasion occasion-list6">
                  <div class="wedding">Wedding</div>
                  <div class="occasion-list-child3"></div>
                </button>
                <button class="occasion occasion-list7">
                  <div class="baby-shower">Baby Shower</div>
                  <div class="occasion-list-child4"></div>
                </button>
                <button class="occasion occasion-list8">
                  <div class="graduation">Graduation</div>
                  <div class="occasion-list-child5"></div>
                </button>
                <button class="occasion occasion-list9" style="padding : var(--padding-6xs) 50px var(--padding-7xs) 46px">
                  <div class="housewarming">Housewarming</div>
                  <div class="occasion-list-child6"></div>
                </button>
                <button class="occasion occasion-list10">
                  <div class="diwali">Diwali</div>
                  <div class="occasion-list-child7"></div>
                </button>
                <button class="occasion occasion-list11">
                  <div class="eid">Eid</div>
                  <div class="occasion-list-child8"></div>
                </button>
              </div>
            </div>
          </div>
          <div class="next" id="nextContainer">
            <a href="/boxes">
              <div class="next1">Next</div>
              <img
                class="eparrow-up-icon"
                loading="eager"
                alt=""
                src="/public/img/eparrowup@2x.png"
              />
              </div>
            </a>
        </div>
      </div>
    </div>

    <script>
      // Get all elements with the class 'selection'
      const selections = document.querySelectorAll('.selection');
    
      // Loop through each selection
      selections.forEach(selection => {
        // Add click event listener to each selection
        selection.addEventListener('click', function() {
          // Remove 'active' class from all selections
          selections.forEach(sel => sel.classList.remove('active'));
          // Add 'active' class to the clicked selection
          this.classList.add('active');
        });
      });

      const buttons = document.querySelectorAll('.occassion');
    
      // Loop through each selection
      buttons.forEach(button => {
        // Add click event listener to each button
        button.addEventListener('click', function() {
          // Remove 'active' class from all selections
          button.forEach(sel => sel.classList.remove('active'));
          // Add 'active' class to the clicked selection
          this.classList.add('active');
        });
      });
    </script>
  </body>

</html>
